body
{
	background: linear-gradient(90deg, rgb(137, 197, 238) 0%, rgb(56, 144, 202) 35%, rgba(0,212,255,1) 100%);
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}
.mainContainer
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 100%;
}
.category, .players
{
	margin-top: 40px;
	text-align: center;
}
.category{
	margin-left: auto;
	margin-right: auto;
}
@media (min-width: 768px)
{
	.players, .category
	{
		width: 100%;
	}
}

select
{
    height: 30px;
    padding-left: 10px;
}
.password{
	/*margin: auto;*/
	margin-top: 20px;
	min-width: 100%;
    text-align: center;
}
input
{
    height: 2em;
    width: 250px;
	padding-left: 10px;
	margin-bottom: 5px;
	float: left;
}
.radiobutton
{
	height: 1.5em;
	width: 20%;
}
.radioLabel
{
	min-width: 10%;
	text-align: right;
}
.button 
{
	display: flex; 
	justify-content: center;
	margin: 20px;
}
.numberOfPlayers, .playersNames 
{
	width: 50%;
	float: left;
}
label
{
    display: block;
    float: left;
	clear: left;
	line-height: 1.5em;
	padding-right: 10px;
}
.wheelContainer
{
	text-align: center;
}
.instructions
{
	border-color: #0000005e;
	border-style: solid;
	border-radius: 15px;
}
.player
{
	/*width: 49%;*/
	display: inline-block;
	vertical-align: top;
}
.photo
{
	border-color: #0000005e;
	border-radius: 100%;
	border-style: solid;
	min-height: 100px;
	width: 100px;
	margin: 10px auto;
	text-align: center;
	background-position: 50%;
	background-size: cover;
}
.caption
{
	margin: 10px auto;
	text-align: center;
}

.points
{
	margin: 10px auto;
	text-align: center;
}
.active
{
	color: green;
	font-weight: bold;
}
.inactive
{
	color: #b70000;
}
.letter, .disabledLetter
{
	border: solid;
	border-color: #0000005e;
	width: 30px;
	height: 30px;
	float: left;
	margin: 5px;
	border-radius: 10%;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
}
.disabledLetter
{
	width: 2em;
	height: 2em;
}
.wrongLetter
{
	background-color: rgb(220, 44, 44);
}
.correctLetter
{
	background-color: rgb(163, 231, 147);
}
.letter:hover
{
	border-color: #0c330c;
	background-color: #448f44;
}
.innerLetter, .innerPasswordLetter
{
	display: inline-block;
	line-height: 100%;
	vertical-align: text-top;
}
.innerPasswordLetter
{
	font-size: 30px;
	font-weight: bold;
	animation: fadeIn ease 3s;
}

@keyframes fadeIn
{
	0%
	{
		opacity:0;
	}
	100%
	{
		opacity:1;
	}
}


.emptyPlaces
{
	margin: 5px auto;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
.passwordSpace
{
	margin-left: 35px;
}
.emptyPlace
{
	display: inline;
	text-align: center;	
}
.spinningButton
{
	text-align: center;
}
.wheel
{
	text-align: center;
	margin: 30px;
}
button
{
	background-color:  rgb(25, 105, 25);
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 32px 10px 32px;
	cursor: pointer;
	transition: 0.3s;
	font-size: 20px;
}
button:hover:not(.inactiveButton){
	background-color: #448f44;
}
.inactiveButton:hover{
	background-color: #727272;
}
.inactiveButton {
	background-color:  rgb(102, 102, 102);
	border: none;
	border-radius: 5px;
	color: white;
	padding: 15px 32px 15px 32px;
	cursor: pointer;
	transition: 0.3s;
}
.comment
{
	text-align: center;
	margin-top: 10px;
	font-size: 35px;
}
.guessedLetter
{
	background-color: rgb(163, 231, 147);
}
.audioIcon
{
	position: absolute; 
	right: 10px; 
	cursor: pointer; 
	z-index: 2;
}
/******* tooltip over vowels *******/
.customTooltip:before {
	content: "Remember that calling a vowel costs You 500 points!";
	font-size: 16px;
    position: absolute;
    opacity: 0;
    transition: all 0.15s ease;
    padding: 4px;
    color: #333;
    border-radius: 10px;  
	pointer-events: none; 
	z-index: 1;
}
.customTooltip:hover:before 
{
    opacity: 1;
    background: rgba(221, 221, 194, 0.966);
    margin-top: -1em;
    margin-left: 30px;    
}
/*************popup*****************/
h1 {
	text-align: center;
	font-family: Tahoma, Arial, sans-serif;
	color: #06D85F;
	margin: 80px 0;
  }
  
  .box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
  }
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }
  
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }